#contacts {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #141414;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  user-select: none;
}
