::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #595959;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

::-webkit-scrollbar-track {
  background: #dbdbdb;
  border-radius: 15px;
}
